<ion-header translucent>
  <ion-toolbar>
    <ion-title>Create An Account</ion-title>
    <ion-back-button></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form onsubmit="">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">UserName <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label position="stacked">Confirm Password <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required type="text"></ion-input>
        </ion-item>

      <ion-item>
        <ion-label position="stacked">Information</ion-label>
        <ion-input placeholder="First Name"></ion-input>
        <ion-input placeholder="First Name"></ion-input>
        <ion-input placeholder="Age"></ion-input>
      </ion-item>

    </ion-list>

    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin">Create Account</ion-button>
    </div>
  </form>
</ion-content>
