<ion-header translucent>
  <ion-toolbar>
    <ion-title>WatchMutual</ion-title>
  </ion-toolbar>
</ion-header>
<!--ngform for logging in, when submitted, goes through confirmation for password-->
<ion-content padding>
  <form #loginForm="ngForm" (ngSubmit)="loginClicked()" autocomplete="off">

    <ion-list>
      <ion-item>
        <ion-label position="stacked">Email <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input placeholder="Email" name="email" id="loginField" type="text" required [(ngModel)]="email">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Password <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input placeholder="Password" name="password" id="passwordField" type="password" required
          [(ngModel)]="password"></ion-input>
      </ion-item>
    </ion-list>
    <!--email and password must be filled in-->
    <ion-button expand="block" type="submit" class="ion-no-margin" [disabled]="!loginForm.form.valid">Log In
    </ion-button>
    <p align=center>or</p>
    <ion-button expand="block" type="button" class="ion-no-margin" (click)="createAccount()">Create an Account
    </ion-button>

  </form>
</ion-content>