<ion-header>
  <ion-toolbar>
    <ion-title>{{info?.firstName + " " + info?.lastName}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="aligncenter">
    <img class="header" src="./../assets/pic_1.jpg" />
    <!--"data:image/jpeg;base64,{{user.photo}}"-->
    <span class="caption">{{info?.firstName + " " + info?.lastName}}</span>
    <p>{{info?.bio}}</p>
  </div>
  <ion-button expand="block" (click)="sendfriend()">Add friend</ion-button>
  <ion-button expand="block">View {{info?.firstName}}'s Lists</ion-button>
  <div *ngIf="adminstatus == true">
    <ion-button expand="block" (click)="deleteAccount()">Delete Account</ion-button>
  </div>
  <ion-card-title class="aligncenter">{{info?.firstName}}'s Posts</ion-card-title>


  <ion-card *ngFor="let item of items">

    <div class="postitem">
      <ion-avatar slot="start"><img src="../../assets/pic_1.jpg" /></ion-avatar>
    </div>
    <h6 class="postname">{{info?.firstName + " " + info?.lastName}}</h6>

    <div class="postfooter">
      <h4>{{item?.post}}</h4>
    </div>

  </ion-card>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>