.header
{   
    margin-top: 20px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-radius: 50%;   
    width: 128px;   
    height: 128px; 
    position: relative;
} 
.caption {
    display: block;
}
div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}
.aligncenter{
    text-align: center;
}
.postfooter {
    display: block;
  }
  .postname {  
    display: inline-block; 
    text-align: left;
  } 
  div.postitem {
      vertical-align: bottom;
      display: inline-block;
      width: 60px;
  }