<ion-header>
  <ion-toolbar>
    <ion-title>
      Trending
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar showCancelButton="always" [(ngModel)]="searchInput" (keyup.enter)="onInput($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/pic_1.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>What's New!</ion-card-subtitle>
      <ion-card-title>See what everyone is talking about</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>This page will host trending shows and topics.</p>
    </ion-card-content>
  </ion-card>
</ion-content>