<ion-header>
  <ion-toolbar>
    <ion-title>
      Trending
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar showCancelButton="always" [(ngModel)]="searchInput" (keyup.enter)="onInput($event)"></ion-searchbar>
    <!-- <ion-button (click)="clickClicked()">
      press me!
    </ion-button> -->
  </ion-toolbar>

</ion-header>

<ion-content>
  <!-- 
<ion-item tappable (click)="toggleSection(i)" [ngClass]="{'section-active': item.open,'section': !item.open}">
      <ion-icon slot=" start" name="arrow-forward" *ngIf="!item.open">
      </ion-icon>
      <ion-icon slot="start" name="arrow-down" *ngIf="item.open"></ion-icon>
</ion-item>
  -->


  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>What's New!</ion-card-subtitle>
      <ion-card-title>See what everyone is talking about</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let item of items">
    <div class="item">
      <ion-avatar slot="start"><img src="../../assets/pic_1.jpg" /></ion-avatar>
    </div>
    <h6 class="name">{{item?.list?.user?.firstName + '\'s "' + item?.list?.listName+ '"'}}</h6>

    <ion-list lines="none">

      <ion-item>1. <i>{{item?.list?.title1}}</i></ion-item>
      <ion-item>2. <i>{{item?.list?.title2}}</i></ion-item>
      <ion-item>3. <i>{{item?.list?.title3}}</i></ion-item>
      <ion-item>4. <i>{{item?.list?.title4}}</i></ion-item>
      <ion-item>5. <i>{{item?.list?.title5}}</i></ion-item>
      <ion-item>6. <i>{{item?.list?.title6}}</i></ion-item>
      <ion-item>7. <i>{{item?.list?.title7}}</i></ion-item>
      <ion-item>8. <i>{{item?.list?.title8}}</i></ion-item>
      <ion-item>9. <i>{{item?.list?.title9}}</i></ion-item>
      <ion-item>10. <i>{{item?.list?.title10}}</i></ion-item>


      <!-- <h4>
        1. <i>{{item?.list?.title1}}</i><br>2. <i>{{item?.list?.title2}}</i><br>3. <i>{{item?.list?.title3}}</i><br>4.
        <i>{{item?.list?.title4}}</i><br>5. <i>{{item?.list?.title5}}</i><br>6. <i>{{item?.list?.title6}}</i><br>7.
        <i>{{item?.list?.title7}}</i><br>8. <i>{{item?.list?.title8}}</i><br>9. <i>{{item?.list?.title9}}</i><br>10.
        <i>{{item?.list?.title10}}</i>

      </h4> -->
    </ion-list>


  </ion-card>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>