<ion-header translucent>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content (click)='clickEvent()'>
  <!--  <div *ngIf="givenName">
    <hr>
    <p>You are logged in as: <b>{{ givenName }}</b></p>
    <div class="claims">
      <strong>Claims from Identity Token JWT:</strong>
      <pre>{{claims | json}}</pre>
    </div>
  </div>-->


  <ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title>Good Afternoon, {{info?.firstName + ' ' + info?.lastName}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>What's on, and what are your friends saying?</p>
      </ion-card-content>
    </ion-card>
    <!---------------------------------------------------------------------------------------------------------->
    <ion-card *ngFor="let item of items">

      <div class="item">
        <ion-avatar><img src="../../assets/pic_1.jpg" /></ion-avatar>
      </div>
      <h6 class="name">{{item?.user?.firstName + ' ' + item?.user?.lastName }}</h6>

      <div class="footer">
        <h4>{{item?.post}}</h4>
      </div>

    </ion-card>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>

</ion-content>