<ion-header translucent>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content (click)='clickEvent()'>
  <!--  <div *ngIf="givenName">
    <hr>
    <p>You are logged in as: <b>{{ givenName }}</b></p>
    <div class="claims">
      <strong>Claims from Identity Token JWT:</strong>
      <pre>{{claims | json}}</pre>
    </div>
  </div>-->


  <ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title>Good Afternoon, {{item?.user?.firstName + ' ' + item?.user?.lastName}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>What's on, and what are your friends saying?</p>
      </ion-card-content>
    </ion-card>

    <ion-list>
      <!--<ion-item *ngFor="let item of items">{{item?.post}}{{item?.post}}</ion-item>-->
      <ion-item *ngFor="let item of items">{{item?.user?.firstName + ' ' + item?.user?.lastName+': ' +item?.post }}
      </ion-item>
    </ion-list>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>

</ion-content>