<ion-header>
  <ion-toolbar>
    <ion-title>
      Friends
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <!--searchbar for finding friends or people to friend-->
    <ion-searchbar placeholder="find a friend " (ionInput)=searchthis($event)></ion-searchbar>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>
      Your Friends
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!--display filtered search results for friends-->
    <ion-item button *ngFor="let user of search2" (click)='viewProfile(user?.user?.uid)'>
      <ion-avatar>
        <img src="data:image/png;base64,{{user.user.pic}}">
      </ion-avatar>
      <ion-card-title class="ion-padding">{{user?.user?.firstName + ' ' + user?.user?.lastName}}</ion-card-title>
    </ion-item>
    <ion-item>
      <ion-title>
        People
      </ion-title>
    </ion-item>
    <!--display filtered search results for people-->
    <ion-item button *ngFor="let add of search" (click)='viewProfile(add?.uid)'>
      <ion-avatar>
        <img src="data:image/png;base64,{{add.pic}}">
      </ion-avatar>
      <ion-card-title class="ion-padding">{{add?.firstName + ' ' + add?.lastName}}</ion-card-title>
    </ion-item>
  </ion-list>
</ion-content>