<ion-header>
  <ion-toolbar>
    <ion-title>
      Friends
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="find a friend " (ionInput)=searchthis($event)></ion-searchbar>
  </ion-toolbar>
  <ion-toolbar>
    <!-- <ion-button *ngIf="!toggled" (click)="toggle()" name="search">Add friends</ion-button> -->
    <ion-title>
      Your Friends
    </ion-title>
  </ion-toolbar>

</ion-header>

<!--<ion-content>
  <ion-card class="welcome-card">

    <ion-card-header>
      <ion-card-title>Keep up with your friends!</ion-card-title>
    </ion-card-header>

  </ion-card>
</ion-content>-->

<ion-content>

  <ion-list>

    <ion-item button *ngFor="let user of search2" (click)='viewProfile(user?.user?.uid)'>
      <ion-avatar>
        <img src="data:image/png;base64,{{user.user.pic}}">
      </ion-avatar>
      <ion-card-title class="ion-padding">{{user?.user?.firstName + ' ' + user?.user?.lastName}}</ion-card-title>
    </ion-item>
    <ion-item>
      <ion-title>
        People
      </ion-title>
    </ion-item>

    <ion-item button *ngFor="let add of search" (click)='viewProfile(add?.uid)'>
      <ion-avatar>
        <img src="data:image/png;base64,{{add.pic}}">
      </ion-avatar>
      <ion-card-title class="ion-padding">{{add?.firstName + ' ' + add?.lastName}}</ion-card-title>
    </ion-item>
  </ion-list>
</ion-content>