<ion-header>
  <ion-toolbar>
    <ion-title>Me</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <div class="img">
      <img src="../../assets/pic_1.jpg" alt="profile pic">
    </div>
    <div class="post">
      <ion-button>Message</ion-button>
    </div>
    <div class="post">
      <ion-button>Add Friend</ion-button>
    </div>
  </div>
  <h4>Username</h4>
  <p>This is my bio. Shrek is the greatest anime ever!!! Shrek is love. Shrek is life. idk</p>

  <ion-button>64 Posts</ion-button>
  <ion-button>1024 Comments</ion-button>
  <ion-button expand="full">View List</ion-button>
  <ion-button expand="full" type="button" class="ion-no-margin"(click)="goToSettings()">Settings</ion-button>


</ion-content>

