img 
{   
    //padding-top: 10px;
    //padding-left: 10px;
    //padding-right: 30px;
    //padding-bottom: 50px;
    border-radius: 50%;   
    width: 128px;   
    height: 128px; 
    position: relative;
} 

.img {   float: left; } 
.post {   float: right; } 
.wrapper {   float: left; }

.caption {
    display: block;
}
div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}