<ion-header>
  <ion-toolbar>
    <ion-title>Me</ion-title>
  </ion-toolbar>
</ion-header>

<!--users page, very similar to view profile page, shows a users own info, and option to delete posts-->
<ion-content>
  <div class="aligncenter">
    <img class="header" src="data:image/png;base64,{{info?.pic}}" />
    <span class="caption">{{info?.firstName + " " + info?.lastName}}</span>
    <p>{{info?.bio}}</p>
  </div>

  <!-- <img [src]="url" height="200"> <br />
  <input type='file' (change)="onSelectFile($event)"> -->


  <ion-button expand="block" (click)="updateBio(info?.uid)">Update Your Bio</ion-button>
  <!--link to lists-->
  <ion-button expand="block" (click)="viewLists(info?.uid)">View Your Lists</ion-button>
  <!--link to settings-->
  <ion-button expand="block" type="button" (click)="goToSettings(info?.userType)">Settings</ion-button>
  <ion-card-title class="aligncenter">Your Posts</ion-card-title>

  <!--displays posts-->
  <ion-card *ngFor="let item of items" (click)="viewPost(item.pid)">
    <ion-fab vertical="top" horizontal="end" slot="fixed">
      <!--delete post option-->
      <ion-fab-button color="danger" (click)="deletePost(item.pid)">
        <ion-icon name="trash"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <div class="postitem">
      <ion-avatar slot="start"><img src="data:image/png;base64,{{info?.pic}}" /></ion-avatar>
    </div>
    <h6 class="postname">{{info?.firstName + " " + info?.lastName}}</h6>

    <div class="postfooter">
      <h4>{{item?.post}}</h4>
    </div>

  </ion-card>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>