<ion-header>
  <ion-toolbar>
    <ion-title>stickers</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content (click)='clickEvent()'>
  <ion-card>
    <ion-img src="/assets/pic_1.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Stickers</ion-card-subtitle>
      <ion-card-title>Achievements</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>There will be stickers here.</p>
    </ion-card-content>
  </ion-card>
</ion-content>